body {
  background-color: $primary-background-color;
  font-family: $main-font;
  font-size: 14px;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  display: block;
}
.list {
  list-style: none;
  padding: 0px;
  margin: 0;
}
h3,
p,
h2 {
  margin: 0;
}
@media screen and (max-width: 565px) {
  .works {
    display: none;
  }
}
