/* PORTFOLIO PAGE */
.portfolio-header {
  border: 1px solid #ececec;
}
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: center;
}
.filter-list-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  background-color: #f5f4fa;
  border-width: 0px;
  border-color: transparent;
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-background-color;
    cursor: pointer;
  }
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.gallery-list-item-link {
  display: block;
  text-decoration: none;
  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
  &:hover .gallery-hover-desc,
  &:focus .gallery-hover-desc {
    top: 0px;
  }
}

.gallery-list-item {
  width: 100%;
  outline: 1px solid #eeeeee;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.gallery-list-title-container {
  border: 1px solid #eeeeee;
  border-top: none;
  padding-top: 20px;
  padding-bottom: 20px;
}
.gallery-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $primary-text-color;
  margin-bottom: 4px;
  padding-left: 24px;
  text-align: start;
}
.gallery-list-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  padding-left: 24px;
}
.gallery-hover-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $primary-background-color;
  position: absolute;
  left: 0px;
  top: 100%;
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}
.gallery-list-img-wrapper {
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 767px) {
  .gallery-list-img {
    width: 100%;
  }
  .filter-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
  .filter-list {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gallery-list-item {
    width: calc((100% - 30px) / 2);

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }
  .gallery-list-img {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
    position: relative;
  }

  .filter-list {
    justify-content: center;
    margin-bottom: 50px;
  }
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery-list-item {
    width: 370px;
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }
}
